body {
    font-family: 'Lato', sans-serif;
    background: linear-gradient(to right, #84fab0, #8fd3f4);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transition: background-color 1s, background 1s;
}

.container {
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    margin-bottom: 20px;
}

.converter {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, select, button {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
}

input:focus, select:focus {
    border-color: #333;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

button {
    cursor: pointer;
    background-color: #333;
    color: white;
    transition: all 0.3s;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

button:hover {
    transform: scale(1.05);
    background-color: #555;
}

#output {
    margin-top: 20px;
    font-size: 1.2em;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s;
}
